div main {
  margin: auto;
  width: 700px;
}
.headtitle {
  text-align: center;
}
.headtitle header p {
  color: blue;
  background-color: #ffff0070;
  border-top: solid;
  border-color: #ffff00;
}
div main h1 {
  text-align: center;
}

.featured {
  color: red;
}
