div main {
  margin: auto;
  width: 700px;
}
.headtitle {
  text-align: center;
}
.headtitle header p {
  color: blue;
  background-color: #ffff0070;
  border-top: solid;
  border-color: #ffc800;
}
div main h1 {
  text-align: center;
}
div main img {
  border-radius: 5%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.252);
}
.imagecredit {
  color: gray;
  text-align: center;
}

.feature {
  color: red;
  border-left: solid;
  border-color: #ffc800;
}

div main hr {
  border-top: 1px solid aqua;
}
